Package: wpad-openssl
Version: 2022-07-29-b704dc72-0.1
Depends: hostapd-common (=2022-07-29-b704dc72-0.1), libc, libnl-tiny1, hostapd-common, libubus20210630, libopenssl1.1, libtzproc
Conflicts: hostapd, hostapd-basic, hostapd-basic-openssl, hostapd-basic-wolfssl, hostapd-mini, hostapd-openssl, hostapd-wolfssl, wpad, wpad-mesh-openssl, wpad-mesh-wolfssl, wpad-basic, wpad-basic-openssl, wpad-basic-wolfssl, wpad-mini, wpad, wpad-mesh-openssl, wpad-mesh-wolfssl, wpad-basic, wpad-basic-openssl, wpad-basic-wolfssl, wpad-mini
Provides: hostapd, wpa-supplicant
Source: package/network/services/hostapd
SourceName: wpad-openssl
License: BSD-3-Clause
Section: net
Require-User: network=101:network=101
SourceDateEpoch: 1717662744
CPE-ID: cpe:/a:w1.fi:hostapd
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: aarch64_cortex-a55_neon-vfpv4
Installed-Size: 1189300
Description:  This package contains a full featured IEEE 802.1x/WPA/EAP/RADIUS
 Authenticator and Supplicant
